@import './MineAdjacentFieldColors.scss';

.minefield--pressed {
    .field:hover:not(.field--marked) {
        border-style: inset;
    }
}

.field {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 2px outset darkgray;
    line-height: 100%;

    &--revealed {
        border-style: inset;
    }

    &--detonated {
        background-color: rgb(255, 0, 0);
    }

    @for $i from 1 through 8 {
        &--adjacent-mines-#{$i} {
            font-weight: bold;
            color: map-get($mine-count-colors, $i);
        }
    }

    &__wrong-mark {
        position: relative;

        > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__flag {
        transform: rotateY(180deg);
    }
}
