@import './MineAdjacentFieldColors.scss';

.minefield--pressed {
    .field:not(.field--marked):hover {
        border-style: inset;
    }
}

.field {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 2px outset darkgray;
    line-height: 100%;

    &--revealed {
        border-style: inset;
    }

    &--detonated {
        background-color: rgb(255, 0, 0);
    }

    &__wrong-mark {
        position: relative;

        > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__flag {
        transform: rotateY(180deg);
    }

    &__adjacent-mines {
        font-weight: bold;

        @for $i from 1 through 8 {
            &--#{$i} {
                color: map-get($mine-count-colors, $i);
            }
        }
    }
}
